# Files and folders to ignore
*.log
*.raw
# Hardware directories to be ignored
Hardware/Datasheets/
Hardware/Parts-selection/
Hardware/USB-C-DB/outputs/
# Software directories to be ignored
Software/test-firmware/
# Other directories to be ignored
.vs/