# Files and folders to ignore
*.log
*.raw
# Hardware directories to be ignored
Hardware/Datasheets/
Hardware/Parts-selection/
Hardware/USB-C-DB/outputs/
# Software directories to be ignored
Software/test-firmware/
Software/firmware/builds
# Mechanical directories to be ignored
Mechanical/test/
Mechanical/*/output/
# Other directories to be ignored
.vs/
.pio/
.vscode/